// Main StyleSheet
// Assumes PureCSS from YUI is loaded

bg_r = 254
bg_g = 254
bg_b = 254
bg_max_a = 0.8

// Mixins
gradient()
	background: rgba( bg_r, bg_g, bg_b, bg_max_a )
	// background: -webkit-linear-gradient(bottom, rgba(bg_r,bg_g,bg_b,bg_max_a) 0%,rgba(bg_r,bg_g,bg_b,bg_max_a) 90%,rgba(bg_r,bg_g,bg_b,0.3) 100%)
	// background: linear-gradient(to top, rgba(bg_r,bg_g,bg_b,bg_max_a) 0%,rgba(bg_r,bg_g,bg_b,bg_max_a) 90%,rgba(bg_r,bg_g,bg_b,0.3) 100%)

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

// Clear ( Normalize included in PureCSS )
*
	box-sizing: border-box
.clear
	clearfix()

// Everything
html
	font-family: 'museo-sans', 'Droid Sans', sans-serif;
	text-shadow: 1px 1px white;
	background-size: cover

// Backgrounds
html.ios
	&
		background: white
	.ios-background
		position: fixed
		top: 0
		left: 0
		display: block !important
		z-index: 49
		width: 100%
		height: 100%

	.wrapper
		z-index: 50
		position: relative

@media all and (orientation:portrait)
	.ios-background
		height: 980px

@media all and (orientation:landscape)
	.ios-background
		width: 800px

// Menu
nav.pure-menu.pure-menu-horizontal
	position: fixed
	top: 0
	background: rgba(bg_r,bg_g,bg_b,bg_max_a)
	border-bottom: 1px solid #999
	box-shadow: 0 1px 0 black
	color: black

// Content Box
article
	z-index: 52
	margin: 0 auto
	padding: 24px 48px
	border: 1px solid white
	border-radius: 5px
	gradient()

.outer
	margin: 60px auto
	padding: 0
	border: 1px solid black
	width: 482px
	border-radius: 5px
	box-shadow: 1px 1px 2px black
	opacity: 0

// Mobile 
@media screen and (max-width: 480px)
	article
		width: 95%
		padding: 12px 24px

// Widget Box
.widget
	border-top: 1px solid white
	border-left: 1px solid white
	border-bottom: 1px solid #aaa
	border-right: 1px solid #aaa
	background: rgba(255,255,255,0.6)
	padding: 10px 20px
	margin: 20px 0
	font-size: 12px
	p
		font-size: 16px
	ul
		list-style: none
		padding-left: 0
	li
		margin-bottom: 10px;
		clear: both;
		display: block;
	span
		font-size: 10px
		font-weight: normal
